:root{
    --primary-color: #0071a7;
    --white--color: #fff;
    --black-color: #000;
    --text-color: #727475;
    --text-header-color: #555555;
    --text-info-color: #9a9a9a;
    --boder-color: #dbdbdb;
    --header-height: 116px;
    --header-info: 38px;
}

*{
    /* cần xem lại */
    box-sizing: inherit;
}

html{
    /* 100% tương đương fontsize 16px---62.5%=10px */
    font-size: 62.5%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.slider{
    z-index: 0;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    position: absolute;
    list-style: none;
    background-color: var(--white--color);
    padding: 0;
    box-shadow: 0px 2px 5px #d1cfcf;
    top: calc(100% + 10px);
    left: 0;
    display: none;
    border-radius: 4px;
    z-index: 1;
}

.navbar__list::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 60%;
    top: -20px;
}

.navbar__item-child{
    position: absolute;
    list-style: none;
    background-color: var(--white--color);
    padding: 0;
    box-shadow: 0px 2px 5px #d1cfcf;
    border-radius: 4px;
    left: calc(100% + 1px);
    top: 0;
    display: none;
    z-index: 1;
}

.navbar__item:hover .navbar__item-child{
    display: block;
}

.navbar__item{  
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #f1f1f1;
    min-width: 190px;

}

.navbar__item-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
}
