.app{
    overflow: hidden;
}

body{
    margin: 0;
}

.header{
    height: var(--header-height);
}

.header__info{
    height: var(--header-info);
    background-color: var(--primary-color);
}

.header__info-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__info-item{
    margin: 0 20px 0 0;
}

.header__info-link{
    text-decoration: none;
    color: var(--white--color);
    font-size: 1.4rem;
    line-height: 38px;
}

.header__icon {
    font-size: 1.4rem;
    margin: 0 10px 0 0 ;
    line-height: 38px;
}

.header__navbar{
    padding: 15px;
    background-color: var(--white--color);
    height: calc(var(--header-height) - var(--header-info));
}


.header__navbar-img-link{
    text-decoration: none;
}

.header__navbar-img-item{
    width: 170px;
    height: 40px;
}

.menu-mobile-tablet{
    display: none;
}

.menu-mobile-tablet{
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 300;
    float: right;
}

.header__navbar-menu{
    flex: 1;
}

.header__navbar-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header__navbar-item{
    position: relative;
}

.header__navbar-item:hover .navbar__list{
    display: block;
}

.header__navbar-item-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.8;
}

.header__navbar-item-btn{
    padding: 5px 20px;
    background-color: #14b9d5;
    border-radius: 15px;
    color: var(--white--color);
}

.navbar__item-link,
.header__navbar-item-link:hover {
        opacity: 1;
}

.navbar__item-icon{
    float: right;
}


/* slider */

.slider__img{
    width: 100%;
    height: 784px;
}


/* tour */

/* large */
.tour{

}

.tour__header{
    text-align: center;
    height: 176px;
}

.tour__header-conten{
    font-size: 1.6rem;
    line-height: 32px;
    margin-top: 44px;
    margin-bottom: 0;
    color: var(--text-info-color);
}

.tour__header-heading{
    font-size: 3.6rem;
    line-height: 26px;
    color: var(--text-header-color);
}


.tour__item-large{
    width: 270px;
    height: 356px;
    padding: 0 20px;
    position: relative;
}

.tour__item-large-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour__item-large-text{
    position: absolute;
    color: var(--white--color);
    top: 80%;
    left: 15%;
}

.tour__item-large-img-logo{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5%;
    left: 15%;
}

.tour__all{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14b9d5;
    width: calc(100% - 36px);
    height: 100%;
    top: 0px;
    right: 18px;   
    opacity: 0;
    transition: 1s ease;
}

.tour__item-large:hover .tour__all{
    opacity: 1;
}

.tour__all-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tour__all-heading{
    font-size: 2.6rem;
    color: var(--white--color);

}

.tour__all-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white--color);
    margin: 4px 0;

}

.tour__all-link-btn{
    padding: 5px 20px;
    color: #14b9d5;
    background-color: var(--white--color);
    border-radius: 15px;
}

/* medium */

.tour__medium{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour__item-medium{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour__item-medium-img{
    width: 100px;
    height: 100px;
}

.tour__item-medium-text{
    flex: 1;
    padding:0 20px;
}

.tour__item-medium-heading{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-header-color);
}

.tour__item-medium-info{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 16px 0;
    color: var(--text-info-color);
}

.tour__item-medium-link{
    font-size: 1.6rem;
    display: inline-block;
    background: linear-gradient(to right, #14b9d5 0%, #0071a7 100%);
    color: var(--white--color);
    padding: 6px 30px;
    border-radius: 15px;
    text-decoration: none;
}

/* tour info */

.tour__info{
    margin: 70px 8px;
}

.tour__info-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    letter-spacing: 1px;
}

.tour__info-header-text{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-info-color);
    letter-spacing: 1px;
    line-height: 16px;
    margin: 0;
}

.tour__info-header-heading{
    font-size: 3.6rem;
    line-height: 36px;
    font-weight: 500;
    margin: 0;
    color: var(--text-header-color);
    letter-spacing: 1px;
}


.tour__info-item{
    text-align: center;
}

.tour__info-heading{
    font-size: 5rem;
    font-weight: 500;
    color: var(--text-header-color);
    letter-spacing: 1px;
}

.tour__info-heading-sub{
    font-size: 3rem;
    color: var(--text-info-color);
}

.tour__info-text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27PX;
    color: var(--text-info-color);
    letter-spacing: 1px;
}


/* select */

.select{
    background-image: url(../img/search/backgroud\ 1.jpg);
    height: 564px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.select__header{
    text-align: center;
    height: 176px;}

.select__header-conten{
    font-size: 1.6rem;
    line-height: 32px;
    margin-top: 44px;
    margin-bottom: 0;
    color: var(--white--color);
    text-shadow: 1px 0 black;

}

.select__header-heading{
    font-size: 3.6rem;
    line-height: 26px;
    color: var(--white--color);
    text-shadow: 1px 0 black;
}

.select-all{
    height: 256px;
    background-color: var(--white--color);
    border-radius: 2px;
}

.select-all-item {
    height: 50%;
}

.select__heading{
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    color: var(--text-header-color);
    line-height: 1.7rem;
    margin: 24px 32px 5px;
}

.select__item{
    color: #a3a3a3;
    font-size: 1.6rem;
    width: 80%;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 32px;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.select__item-link{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--text-info-color);
}

.select-item-btn{
    position: relative;
}

.select-item-btn-search{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 8%;
    font-size: 1.6rem;
    color: var(--white--color);
    background-color: #14b9d5;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}


/* new */


/* large */
.new{
    margin: 78px 0;
    height: 640px;
}

.new__item-big{
    background-color: #14b9d5;
    height: 100%;
    margin: 0 14px;
}

.new__item-large{
    padding: 110px 40px 40px 40px;   
}

.new__item-large-heading{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--white--color);
}

.new__item-large-header{
    font-weight: 600;
    font-size: 5rem;
    line-height: 5rem;
    color: var(--white--color);

}

.new__item-large-line{
    width: 100%;
    height: 2px;
    background-color: var(--white--color);
}

.new__item-large-content{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 1px;
    color: var(--white--color);
    margin: 32px 0 32px;
}

.new__item-large-link{
    display: block;
    max-width: 140px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 13px 35px;
    color: #14b9d5;
    background-color: var(--white--color);
    border-radius: 30px;
    text-decoration: none;
}


/* small */

.new__item-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.new__item-small{
    margin: 0 14px;
    height: 304px;
    border: 1px solid var(--boder-color);
}

.new__item-medium{
    padding: 30px;

}

.new__item-medium-date{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-info-color);
    line-height: 1.4rem;
    letter-spacing: 1px;
}

.new__item-medium-header{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-header-color);
    line-height: 2.5rem;
    letter-spacing: 1px;
}

.new__item-medium-content{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-info-color);
    line-height: 2.6rem;
    letter-spacing: 1px;
}

.new__item-medium-link{
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: var(--white--color);
    padding: 12px 20px;
    background-color: #14b9d5;
    display: block;
    max-width: 126px;
    border-radius: 30px;
}

/* review */

.review{
    background-image: url(../img/review/background.jpg);
    height: 260px;
    width: 100%;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 0%;
    /* background-position: center; */
}

.review__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
}

.review__header{
 margin-right: 20px;
}

.review__header-item{
    font-size: 6rem;
    font-weight: 400;
    color: var(--white--color);
    text-shadow: 1px 0 black;
}

.review__content{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white--color);
    text-shadow: 0.5px 0 black;
}

.review__content-item{
    margin: 10px;
}

/* price */

.price{
    min-height: 484px;
    padding-right: 30px;
}

.price__padding{
    min-height: 484px;
    padding: 30px;
    border: 1px solid var(--boder-color);

}

.price__item{
    padding: 10px;

}

.price__item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__item-money{
    font-size: 6rem;
    font-weight: 400;
    color: var(--text-header-color);
}

.price__item-money sup{
    font-size: 3rem;
    top: -1em;
}

.price__item-month{
    align-items: center;
    font-size: 1.2rem;
    line-height: 12px;
    color: var(--white--color);
    letter-spacing: 2px;
    padding: 4px 14px;
    background-color: #555555;
    border-radius: 15px;
}

.price__item-body{

}

.price__item-body-header{
    font-size: 2.5rem;
    color: var(--text-header-color);
    line-height: 2.5rem;
    font-weight: 600;
}

.price__item-body-line{
    height: 1px;
    width: 100%;
    background-color: var(--boder-color);
    margin-bottom: 25px;
}

.price__item-body-content{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-info-color);
    letter-spacing: 2px;
    height: 22px;

}

.price__icon{
    color: #69b78d;
    font-weight: 800;
    margin-right: 10px;

}

.price__item-body-btn{
    margin-top: 46px;

}

.price__item-body-link{
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: var(--white--color);
    padding: 10px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #14b9d5  ;
    border-radius: 30px;
    border: 1px solid var(--white--color);
}

/* price__center */

.price__center{
    background-color: #14b9d5  ;
    color: var(--white--color);
}

.price__center-money,
.price__center-month,
.price__center-item-body,
.price__center-item-body-content,
.price__center-icon{
    color: var(--white--color);
}

/* footer */

/* footer header */

.footer{
    margin-top: 72px;
    background-image: url(../img/footer/background\ 1.jpg);
    height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 172px ;
}

.footer__header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}   

.footer__heading{
    color: var(--white--color);

}

.footer__heading h3{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.footer__heading h1{
    font-size: 4.6rem;
    line-height: 46px;
    font-weight: 900;
}

.footer__header-input{

}

.footer__header-input-text{
    background-color: #f9f9f9;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 260px;
    font-size: 20px;
}

.footer__header-input-submit{
    padding: 10px 20px;
    background-color: #14b9d5;
    border-radius: 20px;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white--color);
    margin-left: 20px;
}

/* footer body */

.footer__body{
    background-color: var(--white--color);
    height: 100%;
    width: 100%;
    padding: 46px;
}

.footer__body-logo{

}

.footer__body-img{
    width: 150px;
}

.footer__body-info{
    font-size: 1.4rem;
    color: var(--text-info-color);
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 24px 0;
    padding-right: 30px;

}

.footer__body-info p{
    padding-right: 30px;
}

.footer__body-icon{

}

.footer__body-icon-link{
    font-size: 2.4rem;
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-header-color);
}

.footer__body-item-all{
    padding: 0 15px;
}

.footer__body-header{
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-header-color);
    line-height: 1.6rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
}


.footer__body-header{
    font-weight: 700;

}

.footer__body-list{
    list-style: none;
    padding: 0;
    text-align: left;
}

.footer__body-item{
    margin-bottom: 10px;
}

.footer__body-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-info-color);

}

.footer__body-item-icon{
    font-size: 1.2rem;
    margin-right: 10px;
    line-height: 1.6rem;
}

.footer__bottom{
    background-color: #14b9d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px 0 -12px;
    padding: 20px;
}

.footer__bottom-text{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: var(--white--color);
    letter-spacing: 2px;
}
